{% extends 'base.html' %}

{% block content %}

    <br>
    <main class="container-fluid my-4" style="min-height: 60vh;">
        <section class="w-100 d-flex flex-column jusitify-content-center align-items-center">
            <h2 class="h2 text-center text-primary mb-4">Task</h3>
            <table class="table text-center border border-1">
                <tr class="border border-1">
                    <th>Task</th>
                    <th>Category</th>
                    <th>Due date</th>
                    <th>Priority</th>
                    <th>Assigned To</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td>{{task.title}}</td>
                    <td>{{task.category}}</td>
                    <td>{{task.Due_date}}</td>
                    <td>{{task.priority}}</td>
                    <td>{% for staff in task.assigned_to %}
                        {{ staff }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </main>
{% endblock %}