{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin:auto;
        border-radius:58%;
      }
</style>
<main>
    <h2 class=" h2 text-muted m-3">Profile</h2>
    <div class="row mb-4">
      <div class="col-md-4 col-sm-12 d-flex mx-auto justify-content-center align-items-center" >
        <div class="justify-content-center">
          {% if request.user.staff.profile_pic.url %}
          <img class="image-fluid w-100 rounded-circle shadow" src="{{request.user.staff.profile_pic.url}}" alt="profile-pic">
          {% else %}
          <img class="image-fluid rounded-circle shadow" src="{% static 'images/user-icon.webp' %}">
          {% endif %}
        </div>
      </div>
      <div class="col-md-8 col-sm-12 text-md-start text-sm-center text-center p-4  ">
          <div class=" mb-1">
            <p class="text-muted"><strong class="fs-5">Name</strong>{{request.user.staff.name}}</p>
          </div>
          <diV class="mb-1">
            <p class="text-muted"><strong class="fs-5">Email</strong>{{request.user.staff.email}}</p>
          </div>
          <div class="mb-1">
            <p class="text-muted"><strong class="fs-5">Phone</strong>{{request.user.staff.phone}}</p>
          </div>
           <div class="mb-1">
            <p class="text-muted"><strong class="fs-5">Birth Date</strong>{{request.user.staff.birth_date}}</p>
           </div>
           <div class="mb-1">
             <p class="text-muted"><strong class="fs-5">Position</strong>{{request.user.order.Title}}</p>
           </div>
      </div>
    </div>
    {% include 'core/status.html' %}
      <table class="table table-sm  text-center mt-3">
        <tr>
          <th>Task</th>
          <th>completion Date</th>
          <th>Priority</th>
          <th>status</th>
        </tr>

        {% for task in tasks %}
            <tr>
              <td class="">{{task.title}}</td>
              <td class="d-sm-none">{{task.category}}</td>
              <td class="d-sm-none">{{task.note}}</td>
              <td>{{task.Due_date}}</td>
              <td>{{task.priority}}</td>
              <td>{{task.status}}</td>
              <td>

              {% for staff_member in task.assigned_to.all %}
                  {{ staff_member.name }}
                  {% if not forloop.last%},{% endif %}
                {% endfor %}

              </td>
            </tr>
        {% endfor %}
      </table>

</main>
{% endblock %}