
    #In_progress{
        background-color:#5a5c69;
    }

    #Pending-Task{
        background-color: #858796;
    }

    #Total-Task{
          background-color: #4e73df;
    }

    #Finished-Task{
         background-color:#1cc88a;
    }

